.hungry {
  width: 26px;
  aspect-ratio: 13/17;

  background: linear-gradient(0deg, #ffa012, #ffa012) 0 top / auto 100%
      no-repeat,
    #666;
  transition: background-position 0.4s ease;

  clip-path: path(
    "M3.66675 0.833344H0.166748V13C0.166748 14.7261 0.713741 16.2272 1.81213 17.4761C2.80094 18.6003 3.99115 19.3548 5.37508 19.7273V35.1667H8.87508V19.7273C10.259 19.3548 11.4492 18.6003 12.438 17.4761C13.5364 16.2272 14.0834 14.7261 14.0834 13V0.833344H10.5834V12.5H8.87508V0.833344H5.37508V12.5H3.66675V0.833344ZM25.6667 0.833344C23.3632 0.833344 21.464 1.5373 20.0215 2.97979C18.579 4.42228 17.8751 6.32143 17.8751 8.62501V21.8333H22.6667V35.1667H26.1667V0.833344H25.6667Z"
  );
}
