.life {
  width: 114px;
  aspect-ratio: 18/7;

  background: linear-gradient(90deg, #ff7373, #ff7373) 100px top / 100% auto
      no-repeat,
    #666;
  transition: background-position 0.4s ease;

  clip-path: path(
    "M108.194 28.4691L108.577 28.0852L108.565 28.0727C111.993 24.2087 111.857 18.2931 108.156 14.5922C104.455 10.8913 98.5395 10.755 94.6754 14.1832L94.6628 14.1705C90.8204 10.3281 84.5906 10.3281 80.7481 14.1705C76.9057 18.013 76.9057 24.2428 80.7481 28.0852L80.7481 28.0852L94.6628 41.9999L108.118 28.5445C108.131 28.532 108.143 28.5195 108.156 28.5069C108.169 28.4943 108.181 28.4817 108.194 28.4691Z M71.8252 28.5445L58.3698 41.9999L44.4551 28.0852L44.4551 28.0852C40.6127 24.2428 40.6127 18.013 44.4552 14.1706C48.2976 10.3281 54.5274 10.3281 58.3698 14.1705L58.3825 14.1832C62.2465 10.755 68.1621 10.8913 71.863 14.5922C75.5638 18.2931 75.7002 24.2087 72.272 28.0727L72.2844 28.0852L71.9005 28.4691C71.8881 28.4817 71.8755 28.4943 71.863 28.5069C71.8504 28.5195 71.8378 28.532 71.8252 28.5445Z M34.8566 28.4694L35.2407 28.0852L35.2283 28.0727C38.6565 24.2087 38.5201 18.2931 34.8193 14.5922C31.1184 10.8913 25.2028 10.755 21.3387 14.1832L21.3261 14.1705C17.4837 10.3281 11.2539 10.3281 7.41145 14.1705C3.56903 18.013 3.56902 24.2428 7.41143 28.0852L7.41142 28.0852L21.3261 41.9999L34.7818 28.5442C34.7943 28.5318 34.8068 28.5194 34.8193 28.5069C34.8317 28.4944 34.8442 28.4819 34.8566 28.4694Z"
  );
}
